{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}
  <h1>Median Household Income Checker</h1>
    <form action = "/middle_class_check/results/" method="get", class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label>In the year of</label>
        </div>
        <div class="col-12">
            {% render_field form.year class='select-options custom-select' name="year" autocomplete="off" hx-get="locales" hx-include=".select-options" hx-trigger="change" hx-target="#id_geoid" %}
        </div>
        <div class="col-12">
            <label>I lived in the state of</label>
        </div>
        <div class="col-12">
            {% render_field form.state class='select-options custom-select' name="state" autocomplete="off" hx-get="locales" hx-include=".select-options" hx-trigger="change" hx-target="#id_geoid" %}
        </div>
        <div class="col-12">
            <label>in the</label>
        </div>
        <div class="col-12">
            {% render_field form.area class='select-options custom-select' name="area" autocomplete="off" hx-get="locales" hx-include=".select-options" hx-trigger="change" hx-target="#id_geoid" %}
        </div>
        <div class="col-12">
            <label>of</label> 
        </div>
        <div class="col-12">
            {% render_field form.geoid class='custom-select' %}
        </div>
        <div class="col-12">
            <label>and my <a href="https://www.census.gov/glossary/?term=Household" target="_blank">household</a> had an <a href="https://www.census.gov/glossary/?term=Income">income</a> of</label>
        </div>
        <div class="col-12">
            {% render_field form.income class='form-control' name="income" %}
        </div>
        <div class="col-12">
            <label>dollars that year.</label>
        </div>
        <div class="col-12">
            <input type="submit" value="Click to compare your income"/>
        </div>
    </form>
    <div class="col-12 pt-5">
        <p>middleclasscheck.com doesn't log or share <b><i>any</i></b> personal data, including geography or income input. No cookies or other tracking and analytics tools are used by this site.</p>
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://middleclasscheck.com">Median Income Checker</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://justanesta.com">Adrian Nesta</a> is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a></p> 

    </div>
{% endblock %}
